<div class="login-container">
  <div class="login-card">
    <img
      src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
      alt="user"
      class="user-image"
    />

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form">
      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password :</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="forget-password">
        <a href="#">Forget Password ?</a>
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>

      <p class="signup-text">
        Don't have an account ?
        <a routerLink="/signup">Sign Up</a> here.
      </p>
    </form>
  </div>
</div>
